<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="assets/css/main.css">
    <script src="assets/javascript/main.js"></script>
</head>


<body>
    {{>header}}
<!--Text-->
<div class="heading" >
    <h2>{{title}}</h2>
    <hr>
    <h3>{{desc}}</h3>
</div>
<!--Text-->
{{>footer}}
</body>
</html>