<!DOCTYPE html>
<head>
    <link rel="icon" href="assets/img/Weather.png">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/buttons.css">

</head>


<body>
    {{>header}}
<!--Text-->
<div class="heading" >
    <h2>{{title}}</h2>
    <hr>
    <h3>{{desc}}</h3>
    <div class="space" style="margin-top:3%;">
        <form>
            <input placeholder="Location" style="font-family: sans-serif, Arial, Helvetica; font-size=20px;"><br>
            <button class="btn-base btn-cta btn-2" style="padding: 0.5% 1%; margin-top:2%;">
                Check Weather
            </button>
        </form>
    </div>
    <p id="msg-1" style="color: white"> </p>
    <p id="msg-2" style="color: white"> </p>
    
</div>
<!--Text-->
{{>footer}}

    <script src="assets/javascript/main.js"></script>
</body>
</html>