<script src="https://kit.fontawesome.com/0da0fc84f8.js"></script>
<style>
.footer {
  position: fixed;
  padding-top: 10px;
  padding-bottom: 10px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #E50914;
  color: white;
  text-align: center;
}
</style>

<div class="footer">
  <a href="https://github.com/tyrion404" style="color: #221F1F;"><i class="fab fa-github fa-2x"></i></a>
</div>