<link rel="stylesheet" href="../assets/css/navbar.css">
<script src="https://kit.fontawesome.com/0da0fc84f8.js"></script>
<div class="ct" id="t1">
  <div class="ct" id="t2">
    <div class="ct" id="t3">
          <ul id="menu">
            <a href="/"><i class="fas fa-cloud-sun fa-2x" id="uno" style="color: #E50914;"></i></a><br>
            <a href="/about"><i class="fas fa-user-tie fa-2x" id="dos" style="color: #E50914; padding-top: 25%;"></i></a><br>
            <a href="/help"><i class="fas fa-question fa-2x" id="tres" style="color: #E50914; padding-top: 25%;"></i></a><br>
          </ul>
    </div>
  </div>
</div>



